@import "normalize";

body,html{
	width:100%;
	height:100%;
}

.half{
	width:50%;
	min-height:600px;
	height:100%;
	display:block;
}

	.map-wrap{
		background:black;
		float:left;
	}

		#odl-map{
			width:100%;
			min-height:600px;
			height:100%;
		}

	.graph-wrap{
		background:grey;
		float:right;
	}